.tooltip-style {
    border: 1px solid #713C97 !important;
    background-color: #FFF !important;
    color: #E25674 !important;
    border-radius: 10px !important;
    width: 190px !important;
    font-family: 'Omnes' !important;
    position: absolute !important;
    left: 25px !important;
    top: 80px !important;
}

