@mixin omnes-family {
  font-family: "Omnes";
}

.general-account-section {
  padding: 0;
  margin: 0;
  position: relative;

  .general-account-div {
    padding: 0px 0;
    margin: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}

.general-account-root {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.full-account-div {
  .question-box {
    position: absolute;
    top: 0;
    right: 0;

    .icon-question {
      width: 24px;
      height: 24px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.form-div {
  min-height: calc(100vh - 560px);
}

.view-character-div {
  padding: 0;
  margin: 0;
  position: relative;

  .center-character-thumb {
    padding: 40px 0 15px 0;
    margin: 0 auto;
    position: relative;
    text-align: center;

    img.img-character {
      width: 200px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .full-account-div {
    padding: 30px 20px;
  }

  .general-account-root {
    margin: 0 0 10px 0;
  }

  .view-character-div {
    .center-character-thumb {
      img.img-character {
        width: 150px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
