.error-message-box p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ff1a46;
}
@media (max-width: 767px) {
  .error-message-box p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .error-message-box p {
    font-size: 14px;
  }
}
