.banner-shop-section {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner-shop-section .banner-shop-div {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #ffebe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner-shop-section .banner-slider-shop-div {
  width: 100%;
  position: relative;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-stage-outer .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-nav button.owl-prev,
.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: calc(50% - 35px);
  background: #fff !important;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 8px 0 #00000038;
          box-shadow: 0 0 8px 0 #00000038;
  outline: none;
  cursor: pointer;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-nav button.owl-prev {
  left: 18px;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-nav button.owl-next {
  right: 18px;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-dots {
  position: absolute;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-dots button.owl-dot {
  display: inline-block;
  margin-right: 14px;
  width: 12px;
  height: 12px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-dots button.owl-dot.active {
  opacity: 1;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .shop-slider-box .shop-img-thumb-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .shop-slider-box .shop-img-thumb-div .img-responsive {
  width: 100%;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-shop-section .banner-shop-root-div {
  margin: 40px 0 30px 0;
}

.banner-shop-section .banner-shop-root-div .heading-title-div {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.banner-shop-section .banner-shop-root-div .heading-title-div h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 1.2;
  color: #262626;
  max-width: 795px;
  margin: 0 0 10px 0;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-left .card-category-list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-left .card-category-list-ul li {
  margin: 0 10px 10px 0;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-left .card-category-list-ul li .filter-link {
  font-size: 14px;
  font-weight: 700;
  color: rgba(38, 38, 38, 0.8);
  line-height: 1.5;
  background: transparent;
  border: 1px solid rgba(66, 66, 66, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 34px;
  padding: 4px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-left .card-category-list-ul li .filter-link .icon-img-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 7px 0 0;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-left .card-category-list-ul li .filter-link:hover {
  border: 1px solid rgba(38, 38, 38, 0.8);
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .social-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .social-div .social-ul-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .social-div .social-ul-list li {
  margin: 0 15px 10px 0;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .social-div .social-ul-list li:last-child {
  margin-right: 0;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .social-div .social-ul-list li .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 34px;
  min-height: 34px;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .social-div .social-ul-list li .social-link:hover {
  background-color: #fff;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -2px 0 10px 20px;
  position: relative;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .btn-div .btn.btn-transparent-custom {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  background-color: #f5771f;
  border: 1px solid #f5771f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 32px;
  padding: 4px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner-shop-section .banner-shop-root-div .banner-shop-cate-social-div .banner-shop-cate-social-row .bshop-cate-social-right .btn-div .btn.btn-transparent-custom:hover {
  color: #262626;
  background-color: #fff;
}

.shop-content-middle-section {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #fafafa;
  min-height: calc(100vh - 90px - 436px);
}

.shop-content-middle-root {
  padding: 40px 0 30px 0;
}

.shop-content-middle-root .card-category-custom-div {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.shop-content-middle-root .card-category-custom-div .card-category-list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.shop-content-middle-root .card-category-custom-div .card-category-list-ul li {
  margin: 0 10px 10px 0;
}

.shop-content-middle-root .card-category-custom-div .card-category-list-ul li .list-link {
  font-size: 12px;
  font-weight: 700;
  color: rgba(38, 38, 38, 0.8);
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid rgba(66, 66, 66, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 32px;
  padding: 4px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.shop-content-middle-root .card-category-custom-div .card-category-list-ul li .list-link:hover {
  background-color: #fff;
}

.shop-content-middle-root .desc-div {
  padding: 0;
  margin: 0 0 40px 0;
  position: relative;
}

.shop-content-middle-root .desc-div h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #262626;
  margin: 0 0 20px 0;
  display: block;
}

.shop-content-middle-root .desc-div p {
  font-weight: 300;
  font-size: 18px;
  color: #262626e6;
  line-height: 1.5;
  margin: 0 0 25px 0;
}

.shop-content-middle-root .open-hr-reviews-div {
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx {
  padding: 30px 30px 25px 30px;
  background: #fff;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 8px;
  position: relative;
  margin: 0 0 30px 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 15px 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #262626;
  display: block;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header .open-white-card-bx-header-left {
  width: calc(100% - 80px);
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header .open-white-card-bx-header-right {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header .open-white-card-bx-header-right .rating-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4px 0 0 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header .open-white-card-bx-header-right .rating-div .icon-span {
  width: 22px;
  padding: 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header .open-white-card-bx-header-right .rating-div .icon-span .img-fluid {
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header .open-white-card-bx-header-right .rating-div .text {
  font-weight: 700;
  font-size: 18px;
  color: #262626;
  line-height: 20px;
  margin: 0 0 0 10px;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .open-hr-time-sheet-div p {
  font-weight: 400;
  font-size: 18px;
  color: #262626;
  line-height: 1.5;
  margin: 0 0 5px 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .open-hr-time-sheet-div p .days-span {
  min-width: 115px;
  display: inline-block;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .open-hr-time-sheet-div p .times-span {
  width: calc(100% - 115px);
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .star-div {
  margin: 0 0 5px 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .star-div .star-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .star-div .star-ul .star-btn {
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.14);
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .star-div .star-ul .star-btn .material-icons-outlined {
  font-size: 28px;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .star-div .star-ul li {
  margin: 0 2px 0 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .star-div .star-ul li:last-child {
  margin-right: 0;
}

.shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .star-div .star-ul li.active .star-btn {
  color: #ff771e;
}

.photos-div {
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
}

.photos-div .photos-header-div h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #262626;
  margin: 0 0 20px 0;
  display: block;
}

.photos-div .photos-root-div .image-bx {
  margin: 0 0 30px 0;
}

.photos-div .photos-root-div .image-bx .image-bx-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photos-div .photos-root-div .image-bx .image-bx-inner .img-object-cover {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  width: 100%;
}

.custom-outside-map {
  width: 100%;
}

.custom-outside-map .post-map.custom-map-canvas .map {
  height: 250px;
  width: 100%;
}

.recommendations-div {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.recommendations-div .recommendations-header-div h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #262626;
  margin: 0 0 20px 0;
  display: block;
}

.recommendations-div .recommendations-body-div {
  position: relative;
}

.recommendations-div .recm-card-bx {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.recommendations-div .recm-card-bx .recm-card-bx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 40px 20px 40px;
  background: #fff;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 6px;
}

.recommendations-div .recm-card-bx .recm-card-bx-left-bx {
  width: 60px;
}

.recommendations-div .recm-card-bx .recm-card-bx-left-bx .img-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recommendations-div .recm-card-bx .recm-card-bx-left-bx .img-fluid {
  width: 60px;
  max-width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.recommendations-div .recm-card-bx .recm-card-bx-right-bx {
  width: calc(100% - 60px);
  padding: 0 0 0 20px;
}

.recommendations-div .recm-card-bx .recm-card-bx-right-bx .text-div h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #262626;
  margin: 0 0 10px 0;
}

.recommendations-div .recm-card-bx .recm-card-bx-right-bx .text-div h4 .link {
  color: inherit;
}

.recommendations-div .recm-card-bx .recm-card-bx-right-bx .text-div p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #012436;
  letter-spacing: -0.14px;
  margin: 0 0 20px 0;
}

.recommendations-div .recm-card-bx .recm-card-bx-right-bx .image-root .image-bx {
  margin: 0 0 20px 0;
}

.recommendations-div .recm-card-bx .recm-card-bx-right-bx .image-root .image-bx .image-bx-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recommendations-div .recm-card-bx .recm-card-bx-right-bx .image-root .image-bx .img-object-cover {
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  width: 100%;
}

.add-recommendation-form-div {
  margin: 0 0 20px 0;
}

.add-recommendation-form-div .btn-add-div .btn.btn-recommendation-button {
  background: rgba(255, 119, 30, 0.11);
  border-radius: 5px;
  width: 100%;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 800;
  font-size: 18px;
  color: #ff771e;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.add-recommendation-form-div .btn-add-div .btn.btn-recommendation-button:hover {
  background-color: #ff771e;
  color: #fff;
}

.add-recommendation-form-div .add-recommendation-form-card {
  position: relative;
  padding: 30px 30px 20px 30px;
  background: #fff;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 6px;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div {
  width: 100%;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .custom-file {
  height: 60px;
  margin-bottom: 20px;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .custom-file .custom-file-input {
  display: none;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .custom-file .custom-file-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  border: 1px dashed #979797;
  cursor: pointer;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .custom-file .custom-file-label::after {
  display: none;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .custom-file .custom-file-label .image-icon {
  margin: 0 10px 0 0;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .img-list-div .image-bx {
  position: relative;
  margin: 0 0 16px 0;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .img-list-div .image-bx .cancel-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .img-list-div .image-bx .cancel-div .btn.btn-link.btn-cancel {
  height: 20px;
  width: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  border-radius: 0;
  font-size: 16px;
  padding: 0;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .img-list-div .image-bx .image-bx-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.add-recommendation-form-div .add-recommendation-form-card .file-div .img-list-div .image-bx .image-bx-inner .img-fluid {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
}

.add-recommendation-form-div .add-recommendation-form-card .textarea-dvi .form-control {
  padding: 0;
  border: none;
  outline: none;
  color: #262626;
  margin: 0 0 20px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-height: 80px;
  resize: none;
}

.add-recommendation-form-div .add-recommendation-form-card .button-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.add-recommendation-form-div .add-recommendation-form-card .button-bottom-row .button-bottom-right-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.add-recommendation-form-div .add-recommendation-form-card .button-bottom-row .btn-custom-rounded {
  background: transparent;
  color: #262626;
  border: 1px solid #2626264d;
  padding: 7px 10px 6px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
   text-transform: uppercase;
  height: 36px;
  border-radius: 24px;
  min-width: 110px;
  text-align: center;
  cursor: pointer;
}

.add-recommendation-form-div .add-recommendation-form-card .button-bottom-row .btn-custom-rounded.btn-submit {
  background: #ff771e;
  border-color: #ff771e;
  color: #fff;
}

.add-recommendation-form-div .add-recommendation-form-card .button-bottom-row .mr-10 {
  margin-right: 10px;
}

.gallery-light-box-root .gallery-light-box {
  position: relative;
}

.gallery-light-box-root .gallery-light-box .light-gallery-link {
  border: 0px solid #fff;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  position: relative;
  height: 220px;
  margin: 0 0 30px 0;
}

.gallery-light-box-root .gallery-light-box .light-gallery-link .img-responsive {
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.gallery-light-box-root .gallery-light-box .light-gallery-link:hover .img-responsive {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
}

.gallery-light-box-root .gallery-light-box .view-all-btn-div {
  position: absolute;
  bottom: 45px;
  right: 15px;
}

.gallery-light-box-root .gallery-light-box .view-all-btn-div .btn.btn-white-common {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  line-height: 1.5;
  background-color: white;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 32px;
  padding: 4px 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.lg-backdrop {
  z-index: 9999;
  background-color: #000000bf;
}

.lg-outer {
  z-index: 99999;
}

.lg-progress-bar .lg-progress {
  background-color: #fff;
}

@media (max-width: 767px) {
  .banner-shop-section .banner-slider-shop-div .container {
    padding: 0;
  }
  .banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .owl-carousel .owl-dots button.owl-dot {
    margin-right: 10px;
    width: 8px;
    height: 8px;
  }
  .banner-shop-section .banner-slider-shop-div .shop-banner-slider-root .shop-slider-box .shop-img-thumb-div .img-responsive {
    height: 270px;
  }
  .banner-shop-section .banner-shop-root-div .heading-title-div h1 {
    font-size: 24px;
  }
  .banner-shop-section .banner-shop-root-div .bshop-cate-social-left {
    width: 100%;
  }
  .shop-content-middle-root .desc-div h2 {
    font-size: 20px;
  }
  .shop-content-middle-root .desc-div p {
    font-size: 16px;
  }
  .shop-content-middle-root .open-hr-reviews-div .open-white-card-bx {
    padding: 20px 20px 20px 20px;
  }
  .shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-header h3 {
    font-size: 20px;
  }
  .shop-content-middle-root .open-hr-reviews-div .open-white-card-bx .open-white-card-bx-body .open-hr-time-sheet-div p {
    font-size: 16px;
  }
  .photos-div {
    margin: 0 0 20px 0;
  }
  .photos-div .photos-header-div h2 {
    font-size: 20px;
  }
  .photos-div .photos-root-div .image-bx {
    margin: 0 0 15px 0;
  }
  .recommendations-div .recommendations-header-div h2 {
    font-size: 20px;
  }
  .recommendations-div .recm-card-bx .recm-card-bx-row {
    padding: 20px 20px 10px 20px;
  }
  .recommendations-div .recm-card-bx .recm-card-bx-left-bx {
    width: 46px;
  }
  .recommendations-div .recm-card-bx .recm-card-bx-left-bx .img-fluid {
    width: 46px;
    max-width: 46px;
    height: 46px;
  }
  .recommendations-div .recm-card-bx .recm-card-bx-right-bx {
    width: calc(100% - 46px);
    padding: 0 0 0 15px;
  }
  .recommendations-div .recm-card-bx .recm-card-bx-right-bx .text-div h4 {
    font-size: 20px;
    margin: 0 0 5px 0;
  }
  .recommendations-div .recm-card-bx .recm-card-bx-right-bx .text-div p {
    font-size: 16px;
    line-height: 1.5;
  }
  .gallery-light-box-root .gallery-light-box .light-gallery-link {
    margin: 0 0 15px 0;
  }
  .gallery-light-box-root .gallery-light-box .view-all-btn-div {
    bottom: 30px;
  }
  .add-recommendation-form-div .btn-add-div .btn.btn-recommendation-button {
    font-size: 16px;
  }
  .add-recommendation-form-div .add-recommendation-form-card {
    padding: 20px 20px 20px 20px;
  }
}
/*# sourceMappingURL=shop-style.css.map */