.ev-join-school-div {
    .tc-content-general-box {
      margin: 0 0 30px 0;
    }
  
    .btn.btn-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      color: #652d90;
      letter-spacing: 0;
      text-align: center;
      padding: 5px;
  
      &:hover {
        color: #3f3f44;
      }
    }
  
    .link-div {
      margin: 10px 0 0 0;
      text-align: center;
    }
  
    .prag-div {
      margin: 0 0 25px 0;
  
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        color: #3f3f44;
        text-align: center;
        display: block;
        margin: 10px 0 0 0;
      }
    }
  
    .upload-file-div {
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        color: #3f3f44;
        text-align: center;
        display: block;
      }
    }
  }
  
  .ev-join-school-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 435px);
    justify-content: space-between;
  }
  
  .ev-join-school-bottom-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  
    .text-end-div {
      margin: 0 -20px -10px -20px;
    }
  
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.2;
      color: #3f3f44;
      letter-spacing: 0;
      text-align: right;
  
      a {
        color: inherit;
      }
    }
  }
  
  .ev-join-sending-div {
    .chr-div {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      padding: 45px 0;
  
      .img-fluid {
        margin: 0 auto;
        width: 162px;
        object-fit: contain;
      }
    }
  }
  
  .general-account-root {
    .full-account-div {
      .general-add-school-title {
        margin: 0 0 30px 0;
  
        .center-text-block {
          padding-bottom: 10px;
        }
      }
  
      .button-row-add-school {
        .btn.btn-link {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.5;
          color: #652d90;
          letter-spacing: 0;
          text-align: center;
          padding: 5px;
        }
  
        .link-div {
          margin: 5px 0 0 0;
          text-align: center;
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .ev-join-school-flex {
      min-height: calc(100vh - 375px);
    }
  
    .ev-join-school-bottom-div {
      .text-end-div {
        margin: 0;
      }
  
      p {
        font-size: 14px;
      }
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .ev-join-school-flex {
      min-height: calc(100vh - 475px);
    }
  }
  