body{
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}
table{
  width: 100%;
  vertical-align: top;
  font-family: 'Omnes';
}
td, th{
  padding: 10px 15px;
  text-align: center;
}
td:first-child, th:first-child{
  text-align: left;
}
.center_table{
  width: 800px;
  margin: 0 auto;
  background: #ffffff;
}
.yh_tmp_details h3{
  color: #3F3F44;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.yh_tmp_details h4{
  color: #652D90;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.yh_header_code{
  text-align: right;
}
.yh_header_code h3{
  color: #3F3F44;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.yh_header_code h4{
  color: #3F3F44;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.yh_barcode_section{
  background: #FCFAF6;
  margin-bottom: 10px;
}
.yh_barcode_section td{
  color: #3F3F44;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
