.custom-school-div {
    .form-group-custom {
      .form-group-row {
        .link-div {
          padding: 0 0 0 10px;
  
          .link.btn-link {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.5;
            color: #652d90;
            letter-spacing: 0;
            text-align: center;
            padding: 0;
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .custom-school-div {
      .form-group-custom {
        .form-group-row {
          .link-div {
            padding: 0;
          }
        }
      }
    }
  }
  